<!--Script section -->
<!-- created :Yusuf Hekimoglu Student#: 301081665  Date 2020-10-09 -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>